* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-image: url("/imagenes/maldives-1993704.jpg");
    background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
    width: 100%;
    height: fit-content;
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    .logo-container{
        display: flex;
        flex-direction: column;
        align-items: center;
         height: 90px;
         width: 140px;
        
     
    }
    
    .menu-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        
    }
    
    .title-head{
        line-height: 0;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Days One', sans-serif;
        margin: 0;
        
    }
    #logo{
        width:70px;
        height: 70px;
    }
    
    /* nav-bar  */
    
    .menu-container ul{
        
        display: flex;
        align-items: center;
        padding-left: 0;
        justify-content: center;
       
    
    }
    .menu-container li{
        list-style: none;
        font-family: 'Days One', sans-serif;
        font-weight: 400;
        font-size: 22px;
        margin-right: 20px;
        padding: 2px;
        
       
       
        
    }
    .arrow-container{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        
    }
    #arrow{
            width: 24px;
            height: 24px;
            
    }
    /* Dropdown */
    #menu ul li {
        position:relative;
        margin: 6px;
    
       }
    
    #menu ul ul {
        display:none;
        position:absolute;
        top:100%;
        
       }
    
       #menu ul ul a {
        line-height:120%;
        
        
       }
       #menu ul ul li {
        float:none;
        width: 150px;
       }
       #menu ul li:hover > ul {
        display:block;
        background-color: rgb(110, 138, 183);
        width: fit-content;
        text-align: center;
        z-index: 2;
        
    
       }
       #menu ul li:hover {
        background-color: rgb(98, 98, 147);
        transform: scale(1.05);
        border: 2px solid rgb(44, 44, 81);
        border-radius: 2px;
        transition-duration: 0.2s;
        text-decoration: none;
        z-index: 2;
       }
       /* Search Bar */
       .search-container{
        display: flex;
        flex-direction: column;
        align-items: center;
       }
       #search-button, #search-input{
        display: inline-block;
        margin-bottom: 10px;
       }
       #welcome-text{
        font-size: 24px;
        margin: 2px;
        font-family: 'Days One', sans-serif;
        font-weight: 400;
        color: black;
       }
       .input-group{
        width: 400px;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        z-index: 1;
       }
       
       /* media Query Header  */
       @media (max-width:650px){
        .menu-container{
            flex-direction: column;
            justify-content: center;
        }
        .title-head{
            font-size: 0;
        }
        .logo-container{
            height: fit-content;
        }
        
        #menu li{
            font-size: 16px;
            margin: 2px;
        
        }
        #arrow{
            height: 10px;
            width: 10px;
        }
        #menu ul ul li {
            float:none;
            width: 120px;
    
           
           }
        #welcome-text{
            font-size: 16px;
        }
        .input-group{
            width: 300px;
            margin: 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            
           }
       }
       @media (max-width:350px){
        #menu li{
            font-size: 10px;
            margin: 2px;
            
            
        }
        .search-input{
            width: 200px;
            height: 30px;
            font-size: 12px;
        }
        .search-button{
            height: 30px;
            font-size: 12px;
        }
        .input-group{
            width: 200px;
        }
        #menu ul ul li {
            
            width: 90px;
           
           }
       }
    
    /* Header End */
    
    /* Footer */
    
    footer{
        background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(205,217,231,1) 100%);
       
        
        
    }
    .contact-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    .social-container{
        display: flex;
        height: 60px;
    }
    .social{
        height: 30px;
        margin-top: 10px;
        padding-right: 5px;
    
    }
    .copy{
        font-size: 12px;
        padding: 0px 5px;
        
    }
    .info-container{
        display: flex;
        justify-content: space-around;
    
    }
    .footer-info{
        width: 200px;
        margin: 0px 10px;
    }
    .footer-title{
        font-size: 16px;
        font-family: 'Days One', sans-serif;
        color: #29507C
    }
    .footer-content{
        font-size: 10px;
        font-family: 'Days One', sans-serif;
        color: #73808f
    }
    @media (max-width:450px){
        .info-container{
            flex-direction: column;
            align-items: center;
        }
    }
    

.body-price {
    background-color: rgb(230, 232, 238);
    display: flex;
    padding: 22px;
    margin: 50px;
    border: 1px solid rgb(112, 110, 110);
    
}

.body-price .col-price {
    padding: 0px 15px 0px 0px;
    width: 100%;
}

.body-price .col-price_one {
    padding: 0 15px;
    width: 1500px;
}

.body-price .col-price_two {
    padding: 0 15px;
    width: 100%;
    border-left: 1px solid rgb(112, 110, 110);
}

.img-one {
    width: 318px;
    height: 256px;
    margin-top: 11px;
    margin-bottom: 11px;
    border-radius: 12px;
}

.body-price .title-price {
    font-family: 'Days One';
    font-style: normal;
    color: #edfcfd;
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.body-price .paragraph-price {
    font-family: 'Days One';
    color: #91acca;
    margin-bottom: 15px;
    font-size: 18px;
}

.body-price .regreso {
    color: #edfcfd;
    font-size: 18px;
    margin-top: 20px;
}

.btn-price {
    background-color: rgb(91, 91, 243);
    border: none;
    border-radius: 20px;
    padding: 12px 40px 12px 40px;
    margin: 24px 70px 24px 70px;
        
}

.btn-price a {
    font-family: 'Days One';
    font-size: 20px;
    color: #fff;
    text-decoration:none;
}

.price {
    font-family: 'Days One';
    font-size: 20px;
    padding: 24px 63px 24px 63px;
}